html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.search-container {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid #d8d8d8;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}
.search-container .search {
  display: flex;
  align-items: center;
  flex: 1;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
}

.search-container .search-icon {
  color: #2378eb;
  cursor: pointer;
}

.search-container input {
  margin-left: 10px;
  padding: 8px 3px;
  border: 0px;
  width: 80%;
}

.search-container input:focus {
  outline: 2px;
  outline-color: rgba(65, 186, 242, 0.532);
  outline-style: ridge;
}

.search-filter {
  margin: auto;
  padding: 10px 0;
  width: 100%;
}

.search-filter button {
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #2378eb;
  border-style: double;
  font-weight: bold;
  color: #2378eb;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.search-filter button:hover {
  background-color: rgb(239, 239, 239);
}

.job-outer-container {
  margin: 0 20px;
}

.job-outer-container .job-num {
  color: grey;
}

.job-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 15px;
}

/* header */
.job-header {
  display: flex;
  justify-content: space-between;
}

.job-header-title {
  font-weight: bold;
  margin-right: 10px;
  max-width: 65%;
}

/* body */
.job-body {
  display: flex;
  justify-content: flex-start;
}

.job-body img {
  width: 15px;
  height: 15px;
  margin: 0 0px 10px 0px;
}
.job-body p {
  margin: 0 10px 10px 10px;
}

.job-body-1 {
  max-width: 120px;
}

.job-body-1 div {
  display: flex;
  align-items: center;
}

.job-body-2 {
  margin-left: 40px;
}

.job-body-2 div {
  display: flex;
  align-items: center;
}

/* footer */
.job-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-footer img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.job-footer p {
  max-width: 65%;
}

.pagination {
  display: flex;
  margin: 0 15px;
  padding: 5px 0 30px 0;
}

.pagination .page-number {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 120px;
}

.pagination .disable-page {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.pagination .page-hidden {
  display: none;
}

.pagination .page-number:hover {
  background-color: rgb(239, 239, 239);
}
